{
    "dropout_rate": 0.1,
    "suffix": "bilstm_withdep_later_dep2head_drop",
    "optimize_type": "adam",
    "max_epochs": 12,
    "max_char_per_word": 10,
    "context_layer_num": 1,
    "lambda_l2": 0.0,
    "fix_word_vec": true,
    "aggregation_lstm_dim": 300,
    "context_lstm_dim": 100,
    "learning_rate": 0.001,
    "max_sent_length": 120,
    "batch_size": 120,
    "wo_char": false,
    "char_emb_dim": 20,
    "dep_emb_dim":50,
    "char_lstm_dim": 100,
    "base_dir": "./snli",
    "model_dir" : "../models",
    "with_idep": true,
    "with_dep" : true,
    "with_pos" : true,
    "train_path": "/users/ud2017/hoavt/nli/multinli_0.9/parsed/train_all.txt",
    "matched_test_path": "/users/ud2017/hoavt/nli/multinli_0.9/parsed/multinli_0.9_test_matched_unlabeled.txt",
    "mis_test_path": "/users/ud2017/hoavt/nli/multinli_0.9/parsed/multinli_0.9_test_mismatched_unlabeled.txt",
    "matched_dev_path": "/users/ud2017/hoavt/nli/multinli_0.9/parsed/multinli_0.9_dev_matched.txt",
    "mis_dev_path":"/users/ud2017/hoavt/nli/multinli_0.9/parsed/multinli_0.9_dev_mismatched.txt",
    "word_vec_path" : "../../BiMPM/pre-wordvec/glove.840B.300d.txt",
    "char_vec_path" : "../../BiMPM/pre-wordvec/glove.840B.300d-char.txt"
}
